<%- include('header'); %>

<p>page 2</p>
<h1>le formulaire</h1>
<div class="contenu">
 
    <div class="col-text-center"></div>
        <form action="/page2" method="post"> 
        <input type="text" id="name" name="name" value="clement">
        <input type="submit">
    </form>
</div>

<%- include('footer'); %>